:root {
  --color-white: #F9F7F7;
  --color-grey: #A1A6B0;
  --color-blue: #3F72AF;
  --color-dark-blue: #112D4E;
  --color-red: #B83A2C;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Flex', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.single-news {
  padding: 0 25px;
}

@keyframes rotate {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}
  
.refresh-start {
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: running;
}

.news-container {
  padding-top: 16px;
}

.a, a {
  text-decoration: none;
}

.a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.item {
  margin-bottom: 10px;
} 

.item .upload-info {
  margin-left: 24px;
}

.item h2 {
  font-family: 'Roboto Flex', sans-serif;
  color: var(--color-dark-blue);
  margin: 0;
}

.news-link {
  color: var(--color-grey);
}

.news-link:hover,
.news-link:active,
.news-link:focus {
  text-decoration: underline;
}

.upload-info {
  height: 1rem;
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0;
}

.upload-info > * {
  color: var(--color-grey);
}

.date:hover {
  text-decoration: underline;
}

.comment {
  margin-bottom: 10px;
}

.comment .upload-info {
  font-size: .75rem;
}

.comment > p {
  margin: 8px 0;
  margin-top: 0;
}

.show-replies {
  margin-left: 8px;
  width: auto;
  color: var(--color-blue);
  cursor: pointer;
}

.show-replies:hover {
  color: var(--color-dark-blue);
}